<form [formGroup]="productForm" (ngSubmit)="onSubmit()">

  <!-- Nom du produit -->
  <div class="form-group mb-3">
    <label for="name">Nom du produit</label>
    <input type="text" id="name" class="form-control" formControlName="name" placeholder="Nom du produit" />
  </div>

  <!-- Prix du produit -->
  <div class="form-group mb-3">
    <label for="price">Prix</label>
    <input type="number" id="price" class="form-control" formControlName="price" placeholder="Prix" />
  </div>

  <!-- quantite stock initial du produit -->
  <!-- <div class="form-group mb-3">
    <label for="quantite">Quantité</label>
    <input type="number" id="quantite" class="form-control" formControlName="quantite"
      placeholder="Quantité stock initial" />
  </div> -->

  <label for="category">Catégorie</label>
  <div class="input-group mb-3">

    <select class="form-select" id="inputGroupSelect02" formControlName="category">
      <option selected value="0">Sélectionnez...</option>
      @for (item of categories; track $index) {
      <option [value]="item.id">{{item.libelle}}</option>
      }
    </select>
    <app-categorie-form (afterSave)="onCategoriesChange($event)" />
  </div>

  <!-- Description du produit -->
  <div class="form-group mb-3">
    <label for="description">Description</label>
    <textarea id="description" class="form-control" formControlName="description" rows="3"
      placeholder="Description du produit"></textarea>
  </div>

  <!-- Boutons -->
  <div class="d-flex justify-content-end align-items-center">
    <button type="submit" class="btn btn-outline-primary mx-3" [disabled]="!productForm.valid">
      @if(productService.loaderFormSignal()) {
      <span class="spinner-border spinner-border-sm mr-3" role="status"></span> Envoie des données en cours...
      } @else {
      <span>Enregistrer</span>
      }
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
  </div>

</form>