<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
      <h6 class="m-0 font-weight-bold text-primary">Liste des clients</h6>

      <app-client-form  (afterSave)="afterClientSaved($event)"  @fade />
    </div>

    <div class="card-body">
      @defer (when clientService.loaderSignal()) {
        <div class="col-md-12 col-lg-12 col-sm-12 mt-4">
            <form [formGroup]="clientForm" (ngSubmit)="onSearch()">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-12">
                                <label class="form-label" for=""><b>Filtrer par:</b></label>
                            </div>
                            <div class="col-md-8 col-lg-8 col-sm-12">
                                <select class="form-select" id="filter" [(ngModel)]="client" (change)="onSelectedFilterType($event)">
                        <option value="nom">Nom</option>
                        <option value="telephone">Telephone</option>
                      </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <input class="form-control" id="search" formControlName="searchTerm" type="text" placeholder="Tapez votre recherche....">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <button type="submit" class="btn btn-outline-rechercher text-black">
                      Rechercher
                    </button> &nbsp;&nbsp;
                        <button type="button" (click)="clear()" class="btn btn-outline-secondary text-black">
                      Annuler
                    </button>
                    </div>
                </div>
            </form>
        </div>
      <div class="table-responsive">
        <table class="table table-hover table-striped" id="dataTable">
          <thead>
            <tr>
              <th>#</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Telephone</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            @for (client of clientService.clientSignal(); track $index) {
            <tr>
              <td>{{$index + 1}}</td>
              <td>{{client?.nom}}</td>
              <td>{{client?.prenom}}</td>
              <td>{{client?.telephone}}</td>
              <td>
                <app-client-form ng-click="openEditModal(content)" [clientEdit]="client" [formDialogTitle]="'Editer le client'" [formDialogOpenBtnPrefixIcon]="'fa fa-pen'" @fade
                [formDialogOpenBtnCss]="'btn btn-outline-secondary mx-3'" [formDialogOpenBtnTitle]="''"/>
                <button type="button" class="btn btn-outline-secondary"  @fade>
                  <em class="fa fa-trash-alt"></em>
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
        <div class="d-flex justify-content-end">
          <!-- Pagination Controls -->
          <button class="btn btn-outline-dark mx-3" (click)="previousPage()"
            [disabled]="clientService.currentPageSignal() === 0">Précédent</button>
          <button class="btn btn-outline-dark" (click)="nextPage()"
            [disabled]="clientService.currentPageSignal() + 1 >= clientService.totalPagesSignal()">Suivant</button>
        </div>
      </div>
      }@placeholder {
        <app-table-skeleton-placeholder [columnHeader]="['#', 'Produit', 'Prix', 'Categorie', 'Description', 'Actions']" />
        }
    </div>
  </div>
  <app-confirm-dialog></app-confirm-dialog>
