<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex justify-content-between align-items-center">
    <h6 class="m-0 font-weight-bold text-primary">Liste des produits</h6>

    <app-form-dialog [formDialogTitle]="'Ajouter un nouveau produit'" [formDialogOpenBtnTitle]="'Nouveau produit'">
      <app-product-form />
    </app-form-dialog>
  </div>
  <div class="card-body">
    @defer (when productService.loaderSignal()) {
    <div class="table-responsive">
      <table class="table table-hover table-striped" id="dataTable">
        <thead>
          <tr>
            <th>#</th>
            <th>Produit</th>
            <th>Prix</th>
            <th>Catégorie</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @for (produit of productService.productsSignal(); track $index) {
          <tr>
            <td>{{$index + 1}}</td>
            <td>{{produit?.libelle}}</td>
            <td>{{produit?.prix}}</td>
            <td>{{produit?.categorieDto?.libelle}}</td>
            <td>{{produit?.description}}</td>
            <td>
              <app-form-dialog [formDialogTitle]="'Editer le produit'" [formDialogOpenBtnPrefixIcon]="'fa fa-pen'" @fade
                [formDialogOpenBtnCss]="'btn btn-outline-secondary mx-3'">
                <app-product-form [productEdit]="produit" />
              </app-form-dialog>

              <button type="button" class="btn btn-outline-secondary" (click)="onDeleteProduct(produit)" @fade>
                <em class="fa fa-trash-alt"></em>
              </button>

            </td>
          </tr>
          }
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <!-- Pagination Controls -->
        <button class="btn btn-outline-dark mx-3" (click)="previousPage()"
          [disabled]="productService.currentPageSignal() === 0">Précédent</button>
        <button class="btn btn-outline-dark" (click)="nextPage()"
          [disabled]="productService.currentPageSignal() + 1 >= productService.totalPagesSignal()">Suivant</button>
      </div>
    </div>
    } @placeholder {
    <app-table-skeleton-placeholder [columnHeader]="['#', 'Produit', 'Prix', 'Categorie', 'Description', 'Actions']" />
    }

  </div>
</div>
<app-confirm-dialog></app-confirm-dialog>